.SaveUkraineBanScreen > *{
  left: 0;
  top: 0;
  
  width: 100vw;
  height: 100vh;

  position: absolute;
}

.SaveUkraineBanScreen > .blood {
  left: auto;
  right: 60vw;
  height: 100vh;
  width: auto;
}

.SaveUkraineBanScreen > .graphics {
  opacity: 0.3;
}

.SaveUkraineBanScreen > .cancel {
  top: 0;
  left: auto;
  right: 0;
  cursor: pointer;
  font-size: 35px;
  color: #FFD500;
  background-color: transparent;
  border: none;
  width: fit-content;
  height: fit-content;
}

.SaveUkraineBanScreen > .cancel:hover{
  color: #ffffff;
}

.SaveUkraineBanScreen > .text {
  top: auto;
  bottom: calc(-50vh + 170px);
  text-align: center;

  font-size: 50px;
  color: #FFD500;
}

.SaveUkraineBanScreen > .text b {
  display: block;
  font-size: 100px;
}