.SaveUkraineBanScreen {
  left: 0;
  top: 0;
  
  width: 100vw;
  height: 100vh;

  position: absolute;
}

.SaveUkraineBanScreen > .blood {
  position: absolute;
  top: 0;
  right: 60vw;
  height: 100vh;
}

.SaveUkraineBanScreen > .text {
  position: absolute;
  top: 35vh;
  width: 100%;
  text-align: center;

  font-size: 50px;
  color: #FFD500;
}

.SaveUkraineBanScreen > .text b {
  display: block;
  font-size: 100px;
}