.SaveUkraineBanScreen > *{
  left: 0;
  top: 0;
  
  width: 100vw;
  height: 100vh;

  position: absolute;
}

.SaveUkraineBanScreen > .blood {
  left: auto;
  right: 60vw;
  height: 100vh;
  width: auto;
}

.SaveUkraineBanScreen > .text {
  top: 35vh;
  text-align: center;

  font-size: 50px;
  color: #FFD500;
}

.SaveUkraineBanScreen > .text b {
  display: block;
  font-size: 100px;
}